div.div-border {
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px -4px rgba(200, 200, 200, .6);
}

.main-content {
    height: 100vh;
    overflow-y: scroll;
}

.sidebar {
    height: 100vh;
    border-right: solid 1px rgba(203, 203, 203, 0.25);
}
