{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>NewQuote</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NewQuote</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>


    <div class="container">

        <form style="margin-top: 20px;">



            <!--Add NewQuote-->

            <div class="row div-border">
                <h5>Add NewQuote</h5>
                <div class="col s7">
                    <div class="col s6 input-field">
                        <input type="text" id="customer">
                        <label for="customer">Customer</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="text" id="description">
                        <label for="description">Job Description</label>

                    </div>
                </div>
                <div class="col s5">
                    <div class="col s6 input-field">
                        <input type="number" id="pages" min="0">
                        <label for="pages">Pages</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="number" id="quote-no" min="0">
                        <label for="quote-no">Quote number</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="number" id="overage" min="0">
                        <label for="overage">Overage</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="number" id="quantity" min="0">
                        <label for="quantity">Quantity</label>
                    </div>
                </div>

                <a class="btn-floating btn waves-effect waves-light blue" id="add-quote" style="float: right;"><i class="material-icons">add</i></a>
            </div>



            <!--Size-->

            <div class="row div-border">
                <h5>Size</h5>
                <div class="col s4">
                    <label>Finished Format (open)</label>
                    <select class="browser-default" id="f-format">
<option value="" disabled selected>Select</option>
<option value="1">A0 (841 x 1189 / 33.1 x 46.8)</option>
<option value="2">A1 ()</option>
<option value="3">A2</option>
<option value="3">A3</option>
<option value="3">A4</option>
<option value="3">A5</option>
<option value="3">A6</option>
<option value="3">A7</option>
<option value="3">A8</option>
<option value="3">A9</option>
<option value="3">A10</option>
                     </select>
                </div>
                <div class="col s4">
                    <label>Press Format</label>
                    <select class="browser-default" id="p-format">
<option value="" disabled selected>Select</option>
<option value="1">20 x 29 in</option>
<option value="2">19 x 25.5 in</option>
                     </select>
                </div>
                <div class="col s4">
                    <label>Machine</label>
                    <select class="browser-default" id="machine">
<option value="" disabled selected>Select</option>
<option value="1">Speedmaster 74-5 Col.</option>
<option value="2">Speedmaster 74-2 Col.</option>
<option value="3">Machine Offset 2 Col.</option>
<option value="3">Machine Offset 1 Col.</option>
                     </select>
                </div>

                <a class="btn-floating btn waves-effect waves-light blue" id="add-size" style="float: right;"><i class="material-icons">add</i></a>

            </div>



            <!--Insert-->

            <div class="row">
                <div class="col s6 div-border" style="padding-bottom: 16px;">
                    <h5>Insert</h5>
                    <div class="col s6">
                        <label>Paper (sheets)</label>
                        <select class="browser-default" id="insert-paper">
<option value="" disabled selected>Select</option>
<option value="1">Option 1</option>
<option value="2">Option 2</option>
<option value="3">Option 3</option>
                     </select>
                    </div>
                    <div class="col s6">
                        <label>Cover (sheets)</label>
                        <select class="browser-default" id="insert-cover">
<option value="" disabled selected>Select</option>
<option value="1">Option 1</option>
<option value="2">Option 2</option>
<option value="3">Option 3</option>
                     </select>
                    </div>

                    <a class="btn-floating btn waves-effect waves-light blue" id="add-insert" style="float: right;"><i class="material-icons">add</i></a>
                </div>



                <!--Inks-->

                <div class="col s6 div-border">
                    <h5>Inks</h5>
                    <div class="col s6 input-field">
                        <input type="text" id="inks-insert">
                        <label for="inks-insert">Insert</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="text" id="inks-cover">
                        <label for="inks-cover">Cover</label>
                    </div>

                    <a class="btn-floating btn waves-effect waves-light blue" id="add-inks" style="float: right;"><i class="material-icons">add</i></a>
                </div>

            </div>


            <!--Pages-->

            <div class="row div-border">
                <h5>Pages</h5>
                <div class="col s8" style="margin-bottom: 15px;">
                    <div class="col s6">
                        <label>Pages per plate</label>
                        <select class="browser-default" id="p-plate">
<option value="" disabled selected>Select</option>
<option value="1">Option 1</option>
<option value="2">Option 2</option>
<option value="3">Option 3</option>
                     </select>
                    </div>
                    <div class="col s6">
                        <label>No. of pages per cover</label>
                        <select class="browser-default" id="p-cover">
<option value="" disabled selected>Select</option>
<option value="1">Option 1</option>
<option value="2">Option 2</option>
<option value="3">Option 3</option>
                     </select>
                    </div>
                </div>


                <div class="col s6">
                    <h5>Press Format</h5>
                    <div style="height: 300px;"></div>
                </div>
                <div class="col s6">
                    <h5>Precut</h5>
                    <div style="height: 300px;"></div>
                </div>

                <a class="btn-floating btn waves-effect waves-light blue" id="add-pages" style="float: right;"><i class="material-icons">add</i></a>
            </div>



            <div class="row">



                <!--Pre-press-->

                <div class="col s6 input-field">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>Pre-press</h5>
                        </li>
                        <li class="collection-item">Type Setting
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="type-setting"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Graphic Desin
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="graphic-design"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">CTP
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="ctp"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Pre-press Cutting
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="prepress-cutting"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                    </ul>
                    <a class="btn-floating btn waves-effect waves-light blue" id="add-prepress" style="float: right;"><i class="material-icons">add</i></a>
                </div>



                <!--Finishing-->

                <div class="col s6 input-field">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>Finishing</h5>
                        </li>
                        <li class="collection-item">Folding - Hand
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="hand-folding"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Stahl Folding - m/c
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="stahl-folding"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Hand Collating
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="hand-collating"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Saddle Stitching
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="saddle-stitching"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Gangstitching
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="gang-stitching"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Perfect Binding
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="perfect-binding"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Wolenberg
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="wolenberg"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Trimming (Polar)
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="trimming"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Lamination
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="lamination"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                        <li class="collection-item">Wrapping
                            <div class="switch secondary-content">
                                <label>No<input type="checkbox" id="wrapping"><span class="lever"></span>Yes</label>
                            </div>
                        </li>
                    </ul>
                    <a class="btn-floating btn waves-effect waves-light blue" id="add-finishing" style="float: right;"><i class="material-icons">add</i></a>
                </div>
            </div>



        </form>

        <!--        SPINNER-->


        <!--
<div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
-->
    </div>





    <!--  Materialize Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    <!--    Main JS-->
    <script src="{% static 'js/app.js' %}"></script>


</body>
</html>
